name: CI

on:
  push:
    branches: ["main", "ci-optimization"]

  pull_request:
    branches: [opened, synchronize]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      NODE_ENV: test
      ACCESS_KEY: ${{ secrets.ACCESS_KEY }}
      REFRESH_KEY: ${{ secrets.REFRESH_KEY }}

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Add pnpm
        uses: pnpm/action-setup@v4

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Set up Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm' # Don't screw this up lil bro

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm --filter kanpeki-server test:ci

